files:
  /etc/nginx/conf.d/https.conf:
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;
          
          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;
          
          ssl_session_timeout  5m;
          
          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
          ssl_prefer_server_ciphers   on;
          
          location / {
              proxy_pass  http://my_app;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
          }

          location /assets {
            alias /var/app/current/public/assets;
            gzip_static on;
            gzip on;
            expires max;
            add_header Cache-Control public;
          }

          location /public {
            alias /var/app/current/public;
            gzip_static on;
            gzip on;
            expires max;
            add_header Cache-Control public;
          }

           location /packs {
            alias /var/app/current/public/packs;
            gzip_static on;
            gzip on;
            expires max;
            add_header Cache-Control public;
          }
      }

  /etc/pki/tls/certs/server.crt:
    content: |            
      -----BEGIN CERTIFICATE-----
      MIIEEDCCAvgCCQDishQbUuVs/DANBgkqhkiG9w0BAQUFADCByTELMAkGA1UEBhMC
      VVMxCzAJBgNVBAgMAkNBMQ4wDAYDVQQHDAVEYXZpczEoMCYGA1UECgwfVW5pdmVy
      c2l0eSBvZiBDYWxpZm9ybmlhLCBEYXZpczEPMA0GA1UECwwGVUNET0NQMTkwNwYD
      VQQDDDBjZWUtZXZlbnQtc2Nhbm5lci51cy13ZXN0LTEuZWxhc3RpY2JlYW5zdGFs
      ay5jb20xJzAlBgkqhkiG9w0BCQEWGG1rc3RlaW53YWNoc0B1Y2RhdmlzLmVkdTAe
      Fw0xODA4MjgyMjE1MjVaFw0xOTA4MjgyMjE1MjVaMIHJMQswCQYDVQQGEwJVUzEL
      MAkGA1UECAwCQ0ExDjAMBgNVBAcMBURhdmlzMSgwJgYDVQQKDB9Vbml2ZXJzaXR5
      IG9mIENhbGlmb3JuaWEsIERhdmlzMQ8wDQYDVQQLDAZVQ0RPQ1AxOTA3BgNVBAMM
      MGNlZS1ldmVudC1zY2FubmVyLnVzLXdlc3QtMS5lbGFzdGljYmVhbnN0YWxrLmNv
      bTEnMCUGCSqGSIb3DQEJARYYbWtzdGVpbndhY2hzQHVjZGF2aXMuZWR1MIIBIjAN
      BgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAqcEIUWTYOT0LKIVjXTYKyQ+zZGCJ
      BK/z7x99wEN86RiAe4BxYYac5zgNNClkEZCuT835aQJaDnijZg3tH0Ur385KPmuY
      LwAhtq6iq8k7y62trJs/O4fkBPxx4DYY6GqTTPYZHy1XiAjllWuZL0c1VCS1Zn2J
      zOE9PtwwxE6rot/u43bq7h8GHioexQsGu37n2doGxFGXWGqOVjFaKsgz0FwIhuii
      lNU/Tth/A3kGY2uNCcNTFT5/vcq2cwJCFlC5nN7uU5tv2/gP0WQZZfFLzmF3wCWZ
      yThtjQbrKrSsOZgL1hXiUTpUREZ42DAf3xQY+RUX8u1tuFriD3KSPHcQfwIDAQAB
      MA0GCSqGSIb3DQEBBQUAA4IBAQCKXYmK1L0CdnqutDXlRY7UwemegUbQV6GcgbbG
      /Mws8slnhOuh2AhoekrKqtzvJ9NZE3vyLSfEgRiQ6LQsseOVmkbKS79L1n23/WdR
      K6Km8Vjeh+fmFZbAQwrt2Id773Rp62Avvf+A4tKy1vn4HlKOzUzgtmGcnA0alYRm
      a+t3X3rdRLDc4yC+/cM3TaoDayvfDfkrKhyXqMOElk1UkXQeQSaJgEQqZP2yK5Fh
      30pNpOVl75j64DR7nm8Wg/ugZ+/z1DasF6+X+nEy0dtus1NilTPHn825mm0jOsZm
      Ft9PMnzFCWSqGOTICWVTMgy4nlAZswlOert+v8pyOQSUgW+0
      -----END CERTIFICATE-----