files:
  /etc/nginx/conf.d/https.conf:
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;
          
          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;
          
          ssl_session_timeout  5m;
          
          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
          ssl_prefer_server_ciphers   on;
          
          location / {
              proxy_pass  http://my_app;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
          }

          location /assets {
            alias /var/app/current/public/assets;
            gzip_static on;
            gzip on;
            expires max;
            add_header Cache-Control public;
          }

          location /public {
            alias /var/app/current/public;
            gzip_static on;
            gzip on;
            expires max;
            add_header Cache-Control public;
          }

           location /packs {
            alias /var/app/current/public/packs;
            gzip_static on;
            gzip on;
            expires max;
            add_header Cache-Control public;
          }
      }

  /etc/pki/tls/certs/server.crt:
    content: |            
      -----BEGIN CERTIFICATE-----
      MIIELDCCAxQCCQDS3tF+n8qIeDANBgkqhkiG9w0BAQUFADCB1zELMAkGA1UEBhMC
      VVMxEzARBgNVBAgMCkNhbGlmb3JuaWExDjAMBgNVBAcMBURhdmlzMREwDwYDVQQK
      DAhVQyBEYXZpczEtMCsGA1UECwwkQ2VudGVyIGZvciBFZHVjYXRpb25hbCBFZmZl
      Y3RpdmVuZXNzMTgwNgYDVQQDDC9odHRwOi8va3lzLXRlc3QudXMtd2VzdC0xLmVs
      YXN0aWNiZWFuc3RhbGsuY29tLzEnMCUGCSqGSIb3DQEJARYYbWtzdGVpbndhY2hz
      QHVjZGF2aXMuZWR1MB4XDTE4MDUxNzIzMzkwMFoXDTE5MDUwODIzMzkwMFowgdcx
      CzAJBgNVBAYTAlVTMRMwEQYDVQQIDApDYWxpZm9ybmlhMQ4wDAYDVQQHDAVEYXZp
      czERMA8GA1UECgwIVUMgRGF2aXMxLTArBgNVBAsMJENlbnRlciBmb3IgRWR1Y2F0
      aW9uYWwgRWZmZWN0aXZlbmVzczE4MDYGA1UEAwwvaHR0cDovL2t5cy10ZXN0LnVz
      LXdlc3QtMS5lbGFzdGljYmVhbnN0YWxrLmNvbS8xJzAlBgkqhkiG9w0BCQEWGG1r
      c3RlaW53YWNoc0B1Y2RhdmlzLmVkdTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCC
      AQoCggEBAOVJXtAJfqq0mHlD29jnEbYuU/TjywYjezd/CTdetw/6rUmjzkVXV+yN
      T4wHdXjmihPmskuPKbR5LnNFi3jz/rxt4Qxg6uOPQYUnS9R/EmG71iRZF1AGEKF5
      trg9pp7/qRBP9cDSULr4Kwlbnnl5UbdAq+bVxNHh/g/V/uUSpoTvAAubn1hK5SMz
      YsUHacRXzpW0WVPOw0V1cZPIoVfSr71cmFJA6RNSJrV3VUPDO3aWOIQUjIP8HYJE
      88VnsdCcKj3+6lqS/Z144NrVkO9jx0SGysQ+51bhrFq1OnU/JuUaUbFKkjF8N+6/
      PjU26rRHdJIUZKnY7GBKXsrONHoyOBcCAwEAATANBgkqhkiG9w0BAQUFAAOCAQEA
      Srku4D+YeFJojiQF70a/Ff8cJU/gZrUJ7j+YnIfk0VzvxD2c6qS+BODUFcN1adlT
      93iXbBYrr6miu+OSZA62StaccKQKrN7MlZ9EwZ8jAEbPlaylZquaEYDY8A9cIIOR
      oiL+sVV9RARVCwgbVJCLFg6qSAw1Kk6yrhdmBB02YAzEiGTzyGSxbgS9DVpXYJ84
      /utqELnbd2A1imEHOdaRhM7hZwSBCXUFyWRp59Ub4T5pgKbsJJDf+glAoUJMZr57
      hmOi9hux8/Vb6RUPVGozl7Qot2Q5I+J8sWSPc8ywTP18/NhFEoNqsqHWPXYuOTGx
      v6btQ/h+a1/1IfbYBRQuYg==
      -----END CERTIFICATE-----