<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>TAO Badge Template</title>
  <meta name="description" content="Template">
  <meta name="author" content="Matthew Steinwachs">

  <style>
    * {
        box-sizing: border-box;
    }

    /* Create two equal columns that floats next to each other */
    .column {
        display: block;
        white-space: wrap;
        page-break-after: avoid;
        page-break-before: avoid;
        page-break-inside: avoid;
        float: left;
        width: 50%;
        padding-left: 100px;
        padding-top: 55px;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .body {
      width: 8.5in;
      height: 11in;
      padding-top: 40px;
      padding-bottom: 40px;
    }

    h3 {
      font-family: Helvetica;
    }
  </style>
  
</head>
<body>
<% @set.each do |n, png| %>
  <div class="column">
    <h3><%= n %></h3>
    <img src="<%= png %>" />
  </div>
<% end %>

</body>
</html>